:root {
  --color-bg-primary: #0f172a;
  --color-bg-secondary: #003;
  --color-accent: #e2e8f0;
  --color-accent-primary: #fc3357;
  --color-text-title: #e2e8f0;
  --color-text: #7e8b9e;
  --color-hover: rgba(126, 139, 158, 0.1);
  --color-hover-pill: rgba(126, 139, 158, 0.2);

  --space-xs: 0.25rem; /* 4px */
  --space-sm: 0.5rem; /* 8px */
  --space-sim: 0.75rem; /* 12px */
  --space-sim2: 0.875rem; /* 14px */

  --space-md: 1rem; /* 16px */
  --space-mid: 1.25rem; /* 20px */
  --space-lg: 1.5rem; /* 24px */
  --space-xl: 2rem; /* 32px */
  --space-xxl: 3rem; /* 48 */
  --space-xxxl: 4rem; /* 64px */
}

/* TEXT SIZES */
h1 {
  margin: 0;
  font-size: var(--space-xxl);
  color: var(--color-text-title);
}
h2 {
  font-size: var(--space-mid);

  font-weight: 500;
}
.subtitle {
  color: var(--color-text-title);
}
body {
  font-family: "Montserrat", sans-serif;
  padding: 48px 24px;
  background: linear-gradient(
    to right,
    var(--color-bg-primary) 0%,
    var(--color-bg-secondary) 100%
  );
  color: var(--color-text);
}

/* Make site 2 columns desktop but stacked on mobile */
.row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.column {
  flex-grow: 1;
  flex-basis: 300px;
  min-width: 280px;
  max-width: 600px;
  padding: 20px;
}
.fixed-col {
  position: relative;
}
/* NAVIGATION */
nav {
  width: 100px;
  margin-bottom: 48px;
}

nav a {
  color: var(--color-text);
  display: block;
  padding: 12px;
  text-decoration: none;
  cursor: pointer;
}

nav a:hover {
  color: var(--color-accent-primary);
  text-decoration: underline;
}

nav a.active {
  color: var(--color-accent);
}

/* BUTTONS */
button {
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  margin: 3rem auto;
  border: 1px solid var(--color-accent);
  /* width: 200px; */
  font-size: 14px;
  color: var(--color-accent);
  padding: 10px 30px;
  background: none;
  cursor: grab;
}

button:hover {
  background-color: none;
  color: var(--color-accent-primary);
  font-weight: bold;
  border: 1px solid var(--color-accent-primary);
}

.container {
  display: flex; /* Creates the two-column layout on all screen sizes */
  position: relative; /* Essential for sticky positioning to work correctly within the parent container */
}

.sidebar {
  /* Initial styles for mobile (will stack) */
  width: 100%;
}

.fixed-lt {
  width: 100%;
}

a {
  text-decoration: none;
}

/* Media Query for Desktop (screens wider than, for example, 768px) */
@media (min-width: 768px) {
  .fixed-lt {
    position: sticky;
    top: 0;
    height: fit-content;
    -webkit-position: sticky;
  }
}
p li {
  font-size: var(--space-md);
  line-height: var(--space-mid);
}
span {
  font-weight: 600;
}
.about-titles {
  font-weight: 600;
  margin-right: 1rem;
}
li {
  margin-bottom: var(--space-sm);
}
/* EXPERIENCE */
section {
  margin-bottom: 10%;
}
.card {
  flex-grow: 1;
  flex-basis: 300px;
  min-width: 280px;
  max-width: 600px;
  padding: 20px;
}
.card:hover {
  background: var(--color-hover);
  border: 1px solid var(--color-hover);
  .card-job-title {
    color: var(--color-accent-primary);
  }
}
.card-years {
  flex: 1;
  min-width: 80px;
  width: 29vw;
  padding: 10px 0;
  box-sizing: border-box;
  text-transform: uppercase;
}

.card-details {
  flex: 2;
  width: 71vw;
  padding: 10px 0 10px;
  box-sizing: border-box;
}
p {
  margin: var(--space-sm) 0;
}
.text-years {
  font-size: 12px;
}
.card-job-title {
  color: var(--color-text-title);
  font-size: var(--space-sim2);
  margin: var(--space-sm) 0;
}

.card-details {
  font-size: var(--space-sim);
  padding-left: 12px;
}
ul.card {
  margin-left: 12px;
}
ul.card-details {
  max-width: 50%;
}
li {
  font-size: 13px;
}
.pill span {
  background-color: var(--color-hover-pill);
  color: var(--color-accent-primary);
  padding: 5px 12px;
  margin: 3px;
  border-radius: 50px;
  display: inline-flex;
  font-size: 12px;
  text-transform: capitalize;
}
div.pill {
  width: 50%;
}

/* Media Query for MOBILE */
@media (max-width: 598px) {
  .card-details {
    margin-left: 0;
    width: 100vw;
  }

  div.card-years {
    display: flex;
    flex-wrap: no-wrap;
    width: 100vw;
  }
  p {
    margin: var(--space-sm);
  }
  .card {
    padding: 0;
    gap: 0;
    max-width: 100%;
  }
  li {
    width: 80vw;
  }
  div.pill {
    width: 100%;
  }
}
